{#
/**
 * @file
 * Testimonial on Image Background
 *
 * Storybook: https://unity.web.asu.edu/@asu/unity-bootstrap-theme/index.html?path=/story/molecules-content-sections-quote-on-image-background-templates--default
 *
 * XD: https://xd.adobe.com/view/56f6cb78-9af5-4b12-b4ce-ef319f71113f-03a5/screen/674ebe9d-bcfd-48c9-a3eb-37efe95f4f4a/
 *
 * Available variables:
 * - image: the image
 * - testimonial: the testimonial
 */
#}

{# NOTE: The Testimonial markup is not correct and needs to be adjusted to match UDS #}
<div
  class="uds-quote-image-background"
  style="background-image: linear-gradient(rgba(25, 25, 25, 0) 0%, rgba(25, 25, 25, 0.79) 100%), url({{ image }});"
  {% if aria_label is not empty %}
    aria-label="{{ aria_label }}"
  {% endif %}>
  <div class="uds-content-align">
    {{ testimonial }}
  </div>
</div>
