<div class="uds-quote-image-background" style="background-image: linear-gradient(180deg, #19191900 0%, #191919c9 100%), url({{ image }});">
  <div class="uds-quote-image-background-container uds-content-align">
    {{ testimonial }}
  </div>
</div>


