.uds-form.uds-rfi button.btn-secondary:not(.btn-gold):hover,
.uds-form.uds-rfi button.btn-secondary:not(.btn-gold):active {
  background-color: inherit;
  border-color: transparent;
  color: inherit;
}
