.ck-editor__editable_inline,.ck-source-editing-area,
div.ck.ck-content.ck-editor__editable {
  min-height: 350px !important;
}

.ck-editor__top {
  position: sticky !important;
  top: -4px !important;
  width: 100% !important;
  z-index: 99 !important;
}
/* Node edit forms need to avoid admin toolbar overlappig wysiwyg */
/* When admin toolbar horizontal */
body.toolbar-fixed.toolbar-horizontal form.node-page-edit-form .ck-editor__top {
  top: 36px !important;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open form.node-page-edit-form .ck-editor__top {
  top: 76px !important;
}
/* When admin toolbar vertical */
body.toolbar-fixed.toolbar-vertical form.node-page-edit-form .ck-editor__top {
  top: 36px !important;
}

.ck-sticky-panel__placeholder {
  display: none !important;
}

.ck-sticky-panel__content {
  position: sticky !important;
  top: 0 !important;
  width: 100% !important;
}

.ck-content {
  color: rgb(0, 0, 0);
}

li > span.ck-list-bogus-paragraph {
  display: inline !important;
}

li::marker {
  content: '';
}

span.highlight-black.ck-editor__nested-editable_focused {
  color: rgb(0, 0, 0);
}

.drupal-off-canvas-reset .uds-blockquote {
  display: grid !important;
}

.open-quote {
  width: 40px;
  height: 32.5px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 302.87 245.82"><path style="fill: %238c1d40" d="M113.61,245.82H0V164.56q0-49.34,8.69-77.83T40.84,35.58Q64.29,12.95,100.67,0l22.24,46.9q-34,11.33-48.72,31.54T58.63,132.21h55Zm180,0H180V164.56q0-49.74,8.7-78T221,35.58Q244.65,12.95,280.63,0l22.24,46.9q-34,11.33-48.72,31.54t-15.57,53.77h55Z"/></svg>');
  background-size: cover;
}
