<div
  class="uds-card-and-image {{ class_position }}"
  style="background-image: linear-gradient(rgba(25, 25, 25, 0) 0%, rgba(25, 25, 25, 0.79) 100%), url({{ image_background }});">
  <div class="uds-content-align">
    <div class="uds-card-and-image-container">
      {{ card }}
    </div>
  </div>
</div>
