<section class="parallax-container">
  <img src="{{ image_background }}"/>
  <div class="parallax-container-content uds-card-and-image {{ class_position }}">
    <div class="uds-content-align card-and-image-align">
      <div class="uds-card-and-image-container">
        {{ card }}
      </div>
    </div>
  </div>
</section>

{{ attach_library('renovation/card-and-image-parallax') }}
