<div class="uds-card-and-image {{ class_position }}" style="background-image: linear-gradient(180deg, #19191900 0%, #191919c9 100%), url({{ image_background }});">
  <div class="uds-content-align card-and-image-align">
    <div class="uds-card-and-image-container">
      {{ card }}
    </div>
  </div>
</div>
