.block-inline-blockimage {
  .uds-img {
    max-width: 100%;
  }
}

.block-inline-blockvideo-hero {
  .poster {
    display: none;
  }

  @media screen and (max-width: $uds-grid-container-max-width-lg) {
    position: relative;

    .poster {
      display: block;
      width: 100%;
      object-fit: fill;
    }

    .container {
      margin-bottom: 0;
      position: absolute;
      bottom: $uds-size-spacing-4;

      h1 {
        color: $uds-component-heading-highlight-white-bg-color;
      }

      .btn+.btn {
        margin-left: 0;
        // margin-bottom: $uds-size-spacing-3;
        margin-top: $uds-size-spacing-2;
      }

      .btn-row {
        margin-top: $uds-size-spacing-2;

        a {
          display: table;
        }
      }

      .buttons {
        display: none;
        // right: $uds-size-spacing-3;
        // bottom: $uds-size-spacing-3;
      }
    }

    .uds-video-hero {
      height: $uds-component-heroes-uds-hero-uds-hero-md-height;

      video {
        display: none;
      }
    }

    .content {
      display: none;
    }

    .text-white {
      display: none;
    }

    .fixed-background {
      object-fit: cover;
    }
  }

  @media screen and (max-width: $uds-grid-container-max-width-md) {
    .uds-video-hero {
      .poster {
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .uds-video-hero {
    &::before {
      content: " ";
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(transparent, rgba(25, 25, 25, 0.75));
    }
  }

}
