@import '../../../node_modules/@asu/bootstrap4-theme/src/scss/extends/modals';

// Overrides.
.uds-modal-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 466px;
}



.ui-widget-overlay.ui-front {
  background-color: $black;
  opacity: 0.8;
}

.ui-dialog,
.ui-dialog.media-library-widget-modal,
.ui-dialog.popup-dialog-class {
  background-color: $white;
  opacity: 1;
  border: none;
  max-width: 1200px;

  .ui-dialog-titlebar {
    .ui-dialog-title {
      font-size: $heading-three-font-size;
      letter-spacing: $heading-three-letter-spacing;
    }
  }

  .ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 1em 1em;
    background: none;
    overflow: auto;
  }

  .ui-dialog-titlebar-close {
    top: -40px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: $gray-4;
    &:hover {
      background-color: $gray-3;
    }
    .ui-icon.ui-icon-closethick {
      background-image: url(../../img/ui-icons/times.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .ui-button:active {
    border: 2px solid $white;
  }

}

.ui-widget.ui-widget-content {
  border: none;
  border-radius: 0;

  &:focus {
    box-shadow: 0 0 8px $uds-modal-overlay-background-color !important;
  }
}

.ui-widget-header {
  border: none;
  background-color: $white;
}


/** Media Library **/
.media-library-widget-modal .media-library-content {
  border-left: none;
}

.media-library-widget-modal .media-library-item__click-to-select-checkbox {
  left: initial;
  right: 38px;
}

.media-library-widget-modal .media-library-item__preview {
  padding-bottom: 20px;
  img {
    width: calc(100% - 2px);
  }
}

.media-library-widget-modal .media-library-item__attributes {
  max-width: calc(100% - 6px);
  max-height: calc(100% - 40px);
  bottom: 4px;
}

.media-library-widget-modal .media-library-menu {
  margin-top: 14px;
  .nav-item {
    margin-top: 4px;
  }
}

.media-library-add-form {
  .container {
    .alert {
      .alert-close {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        button {
          background: white;
          padding: 0;
          width: 34px;
          height: 34px;
          border-radius: 100%;
          border: 1px solid $uds-color-base-gray-4;
          font-size: 2.5em;
        }
        .fa-circle {
          width: 1em;
        }
        .fa-times {
          left: 0px;
        }
        .fa-fw {
          text-align: center;
        }
        .fa-2x {
          font-size: 2.5em;
        }
        .fa-layers {
          display: inline-block;
          position: relative;
          vertical-align: -0.125em;
        }
      }
    }
  }
}

.media-library-widget-modal .media-library-add-form__added-media:focus {
  box-shadow: 0 0 4px $uds-color-base-gray-6 !important;
}

.media-library-widget-modal .media-library-add-form__remove-button[type="submit"] {
  background-image: none;
  background-color: $maroon;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  color: $white;
  text-align: center;
  padding: 4px 1.5em;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid $maroon;
  border-radius: 20em;
  &:hover {
    color: $white;
    box-shadow: 0 1px 2px rgb(23 26 28 / 25%);
    transform: scale(1.05);
    border: 1px solid $black;
    border-radius: 20em;
  }
}

.crop-preview-wrapper__preview-image.img-thumbnail.cropper-hidden {
  padding: 0;
  border: none;
  border-radius: initial;
}
