/* Make skip to content link visible upon focus (it was hidden by the ASU
Header */
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: relative;
  z-index: 1050;
}

// The .PXYlt class is coming from the ASU Header
// May be suitable to just change the CSS there, but would still need
// to target the .sr-focusable class here anyway
.PXYlt .header-top .nav .links-container .nav-link:focus,
.PXYlt .header-top .nav .links-container .nav-link:active,
.sr-only-focusable:active,
.sr-only-focusable:focus {
  padding: 0.25rem 0.5rem !important;
}

// Fix the hover color of the paginated links
.pagination .page-link:hover {
  color: inherit;
}