<div class="card-wrapper" id="card-{{ paragraph.uuid.value }}"></div>
{{ content|without('field_caption', 'field_caption_title', 'field_link', 'field_drop_shadow', 'field_media', 'field_loading', 'field_show_borders',) }}