<div class="card-wrapper" id="card-{{ paragraph.uuid.value }}"></div>
{{ content|without('field_media', 'field_media', 'field_heading', 'field_body', 'field_cta', 'field_cta_secondary', 'field_link', 'field_tags', 'field_clickable', 'field_card_link') }}
