<a 
    href="{{ uri }}"
    data-ga-event="link"
    data-ga-action="click"
    data-ga-name="onclick"
    data-ga-type="internal link"
    data-ga-section="{{ label }}"
    data-ga-region="main content"
    data-ga-text="text only link">{{ label }}</a>