{#
/**
 * @file
 * Template for Alert component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - heading: string,
 * - dimissible: true | false
 * - utility_classes: An array of utility classes.
 */
#}
{% set dismissible = dismissible ?? true %}
{% set classes = [
  'alert',
  type ? 'alert-' ~ type,
]|merge(utility_classes ? utility_classes : []) %}

<div class="{{ classes|join(' ') }}" role="alert">

  {% if heading %}
    <h4 class="alert-heading">{{ heading }}</h4>
  {% endif %}

  {% if type == 'success' %}
    {% set icon = 'fa-check-circle' %}
  {% endif %}
  {% if type == 'warning' %}
    {% set icon = 'fa-bell' %}
  {% endif %}
  {% if type == 'information' %}
    {% set icon = 'fa-info' %}
  {% endif %}
  {% if type == 'error' %}
    {% set icon = 'fa-exclamation-triangle' %}
  {% endif %}
  {% if type == 'danger' %}
    {% set icon = 'fa-exclamation-triangle' %}
  {% endif %}

  <div class="alert-icon"><i class="fas fa-2x {{ icon }}"></i></div>
  <div class="alert-content">
    {% block content %}
        {{ content }}
    {% endblock %}
  </div>

  {% if dismissible %}
    <div class="alert-close">
      <button type="button" class="btn btn-circle btn-circle-alt-black close" data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times" aria-hidden="true"></i>
        </button>
    </div>
  {% endif %}
</div>
