.topo-black, .gray-7-bg, .morse-code-black, .network-black  {
  .block > h2 {
    color: white;
  }
  .layout-builder-block__content-preview-placeholder-label {
    color: white;
  }
  h1 {
    &.article {
      color: white;
    }
  }
  .block-inline-blockisearch {
    .profile {
      color: white;
      a {
        color: white;
      }
    }
  }
}
.white-bg {
  background: #fff;
  border: 0px solid #FFFFFF !important;
}