{#
/**
 * @file
 * Default template for a field.
 */
#}
{%
  set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    {% include '@renovation/headings/heading.twig' with {
      html_tag : 'h3',
      heading: item.content['#context'].value,
    } %}
  </div>
{% endfor %}


