{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    {% include '@renovation/headings/heading.twig' with {
      html_tag : 'h2',
      heading: item.content['#context'].value,
    } %}
  </div>
{% endfor %}
