/* Image centering in Media Embed will not work correctly without this.*/

.align-center {
  width: max-content;
  img {
    max-width: initial;
  }
}

/* Required css to match figcaption in CKeditor as Embeds are structured differently to Unity. */

figure.caption.caption-drupal-media.align-left {
  margin-right: 5px;
}

figure.caption.caption-drupal-media.align-left {
  margin-left: 5px;
}

figure.caption-drupal-media {
  .embedded-media {
    img {
      border: 1px solid #d0d0d0;
    }
  }

  figcaption {
    border: 1px solid #d0d0d0;
    border-top: none;
    opacity: 1;
    background: #fff 0% 0% no-repeat padding-box;
    padding: .75rem;
    font-size: .75rem;
    text-align: left;
    span {
      color: $uds-color-base-gray-5;
      max-width: 75ch;
    }
  }
}
