b,
strong {
  font-weight: $uds-font-weight-bold;
}

.bg-dark,
.bg-primary,
.bg-black {
  a:not(.btn, .nav-link) {
    color: $light;
  }
}

.bg-light,
.bg-secondary,
.bg-white {
  a:not(.btn, .nav-link) {
    color: $primary;
  }
}

.bg-white,
.bg-gray-1,
.bg-gray-2 {
  a:not(.btn, .nav-link) {
    color: $uds-color-base-maroon;
  }

  a:not(.btn, .nav-link):visited {
    color: $uds-color-base-darkmaroon;
  }
}

.bg-gray-7 {
  a:not(.btn, .nav-link) {
    color: $uds-color-base-gold;
  }

  a:not(.btn, .nav-link):visited {
    color: $uds-color-base-darkgold;
  }
}
