// NOTE: Need to adjust loading order since the extends file is still more specific
@import '../../../node_modules/@asu/bootstrap4-theme/src/scss/extends/buttons';

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.bg-dark,
.bg-primary,
.bg-black {
  a:not(.btn, .nav-link) {
    color: $light;
  }
}

.bg-light,
.bg-secondary,
.bg-white {
  a:not(.btn, .nav-link) {
    color: $primary;
  }
}

.bg-light,
.bg-secondary,
.bg-white,
.bg-dark,
.bg-primary,
.bg-black,
.bg-gray-1,
.bg-gray-2,
.bg-gray-7 {
  // Gold and Gray buttons text should always be black
  .btn-gold,
  .btn-gold:hover,
  .btn-gray,
  .btn-gray:hover {
    color: $gray-900;
  }

  // Maroon and Black buttons text should always be white
  .btn-maroon,
  .btn-maroon:hover,
  .btn-dark,
  .btn-dark:hover {
    color: $white;
  }
}
