<a
  href="{{ url }}"
  class="btn btn-tag btn-tag-alt-white"
  data-ga-event="link"
  data-ga-action="click"
  data-ga-name="onclick"
  data-ga-type="internal link"
  data-ga-section="{{ sub_heading is empty ? heading : sub_heading }}"
  data-ga-region="main content"
  data-ga-text="default button">
  {{ title }}
</a>
