@mixin contrast-icon($icon) {
  border-color: $uds-color-base-gray-6;
  background-image: url('../../img/ui-icons/000000/#{$icon}.svg');
  &:hover {
    background-image: url('../../img/ui-icons/000000/#{$icon}.svg');
    border-width: 2px;
  }
}

@mixin contrast-button($icon) {
  button.trigger {
    @include contrast-icon($icon)
  }
}
#drupal-off-canvas {
  form.uds-form {
    .form-check-label {
      &::before {
        top: -0.3rem;
      }
      &::after {
        top: -0.1rem;
      }
    }
  }
}

.layout-builder__link--add {
  color: $uds-color-base-gray-6;
}

.layout-builder__link--remove {
  @include contrast-icon('ex');
}

.layout-builder-block {
  @include contrast-button('pencil');
}

.contextual-region {
  @include contrast-button('pencil');
}
