<div id="uds-anchor-menu" class="uds-anchor-menu uds-anchor-menu-expanded-lg" style="display: none;">
  <div class="container">
    <div class="uds-anchor-menu-wrapper">
      <h2 data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{ 'On This Page:'|t }} <svg class="svg-inline--fa fa-chevron-down fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg><!-- <span class="fas fa-chevron-down"></span> -->
      </h2>
      <div id="collapseExample" class="collapse">
        <nav class="nav" aria-label="Same Page"></nav>
      </div>
    </div>
  </div>
</div>
