@import '../../../node_modules/@asu/bootstrap4-theme/src/scss/extends/heroes';
.block-inline-blockhero {
  .uds-hero-sm,
  .uds-hero-md,
  .uds-hero-lg {
    img.hero {
      width: 100%;
    }
    .btn-row {
      a {
        margin-right: 0.5em;
      }
    }
  }
}

.uds-video-hero {

  display: flex;
    height: 42.75rem;
    position: relative;
    overflow: hidden;

    & .container {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: auto auto 3rem auto;
      width: 100%;

      /* WS2-1215 - Sub heading added to video hero */
      [role='doc-subtitle'] {
        @include like-h3;
        display: inline-block;
        grid-row: 2;
        line-height: 1;
        .highlight-white {
          @include like-h3-highlight-white;
        }
        .highlight-black {
          @include like-h3-highlight-black;
        }
        .highlight-gold {
          @include like-h3-highlight-gold;
        }
        span {
          box-decoration-break: clone;
          -webkit-box-decoration-break: clone;
          margin-left: 0.15em;
        }
      }

      /* WS2-1215 - CSS adjustments for h1 and .content */
      h1 {
        padding-left: 0;
        color: #ffffff;
        margin: 0 0 0 0.6rem;
        max-width: 700px;
      }

      .content {
        margin-top: 1.5rem;
      }

      .buttons {
        position: absolute;
        right: 12px;
        bottom: 0;

        .first {
          display: none;
        }

        button {
          width: 56px;
          height: 56px;
          background: #ffffff;
          opacity: .3;
          border: 1px solid #d0d0d0;
          text-align: center;
          border-radius: 48px;
          transition: .2s ease-out;
          outline: none;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }

      }
    }
    .btn-row {
      grid-row: 3 / span 2;
      display: flex;
      flex-direction: column;

      .btn:last-child {
        margin-top: $uds-size-spacing-2;

        & + .btn {
          margin-left: 0;
        }
      }
    }
    video {
      &.fixed-background {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }

}

@media screen and (min-width: $uds-breakpoint-md) {
  .uds-video-hero {
    .btn-row {
      flex-direction: row;

      .btn:last-child {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
  }
}
