<button id="uds-back-to-top" class="uds-back-to-top-button" title="Go to top">
  <span>Back to top</span>
  <i class="fas fa-chevron-right"></i>
</button>
{{ attach_library('renovation/back-to-top') }}
