{#
/**
 * @file
 * Template for a radio input.
 */
#}

<span class="{{ element['#return_value'] }}" style="display: inline-block; width: 25px; height: 25px; margin-right:5px;"></span>
<input{{ attributes.addClass('form-check-input') }} />
