{#
/**
 * @file
 * Default theme implementation for a webform required indicator.
 *
 * Available variables:
 * - label: The required indicator label.
 *
 * @ingroup themeable
 */
#}
<legend class="webform-required">
  <span title="Required" class="fa fa-icon fa-circle uds-field-required"></span>{{ label }}
</legend>
