@import '../../../node_modules/@asu/bootstrap4-theme/src/scss/extends/images';

.uds-img {
  /* Add margin to bottom of image with boxshadow.*/
  &.uds-img-drop-shadow {
    margin-bottom: 1em;
  }
}

/* Apply border to embedded image. */
.embedded-media {
  max-width: 100% !important;
  img {
    border: 1px solid $uds-color-base-gray-3;
    max-width: 100% !important;
    height: auto;
  }
}

/* Figcaption Overrides CKeditor. */
.caption-drupal-media {
  img {
    border: 1px solid $uds-color-base-gray-3;
  }
  figcaption {
    span {
      max-width: 700px !important;
    }
  }
}

figure.caption-img {
  caption-side: bottom;
  img {
    border: 1px solid $uds-color-base-gray-3;
    margin: 0 !important;
  }
  figcaption {
    display: flex;
    border: 1px solid #d0d0d0;
    border-top: none;
    opacity: 1;
    background: #fff 0 0 no-repeat padding-box;
    padding: .75rem;
    font-size: .75rem;
    text-align: left;
    span {
      flex-grow: 1;
      max-width: 75ch;
      width: 0;
      color: $uds-color-base-gray-5;
    }
  }
}

.rounded-circle img {
  border-radius: 50px!important;
}

@include media-breakpoint-down(sm) {
  figure.align-center {
    width: 100%;
  }
}
